@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
1200 - 1800px:  [normal]
1800            Big


@mixin respond-phone {
    @media (max-width: 600px) { @content };
}


Breakpoint args:
phone
tab-port
tab-land
big-desktop
*/
.margin-btm-s {
  margin-bottom: 4rem; }

:root {
  --color-primary: #4C85D9;
  --color-primary-light: #3A9CEB;
  --color-skyblue: #A3CAFF;
  --color-secondary: #7DD0D3;
  --color-secondary-light: #90DBD8;
  --color-purple: #383868;
  --color-purple-light:#424461;
  --color-purple-dark: #2C2D3A;
  --color-dark: #3E3F4D;
  --color-grey: #979797;
  --color-white: #fff;
  --shadow-dark: 0 2rem 10rem rgba(157, 157, 157, 0.1); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem; }

.heading-primary {
  text-transform: uppercase;
  font-size: 4.0rem;
  font-weight: 500;
  line-height: 4.5rem;
  backface-visibility: hidden; }
  .heading-primary-main {
    animation: fadeIn 2s ease-out; }
    .heading-primary-main .off {
      color: var(--color-secondary); }
    .heading-primary-main .glass {
      color: var(--color-primary); }
  .heading-primary-sub {
    color: var(--color-dark);
    animation: moveInLeft 2s ease-out; }

.heading-text {
  margin-top: 2.8rem;
  max-width: 54rem; }

.text {
  font-size: 1.6rem;
  font-weight: 200; }
  .text-white {
    color: var(--color-white); }

.faq-question {
  color: var(--color-skyblue); }

.faq-answer {
  color: var(--color-white); }

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .card-box {
    margin: 2rem;
    border-top: 1rem solid var(--color-secondary-light);
    max-width: 35rem;
    padding: 7rem 5rem;
    box-shadow: var(--shadow-dark);
    border-radius: 3px; }
    .card-box:nth-child(odd) {
      align-self: flex-end; }
    .card-box:nth-child(even) {
      align-self: flex-start; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-align: center;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  width: 24.3rem;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-purple {
  background-color: var(--color-purple);
  color: var(--color-white); }

.btn-clear {
  border: 1px solid var(--color-primary); }

.wrapper {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto; }

.about {
  background-image: linear-gradient(to top, var(--color-primary-light), var(--color-secondary-light));
  height: 55rem;
  position: relative;
  transform: skewY(-20deg); }
  .about > * {
    transform: skewY(20deg); }
  .about__box {
    display: flex;
    justify-content: center; }
  .about__text {
    display: flex;
    flex-direction: column;
    margin-top: 11rem;
    margin-right: 5rem;
    max-width: 50rem; }
  .about__circle {
    position: absolute;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(86, 177, 229, 0));
    width: 45rem;
    height: 45rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    right: 0;
    top: 2rem; }
  .about__phone {
    margin-right: 10rem;
    animation: fadeIn 2s ease-out; }

.faq {
  background-color: var(--color-purple-light); }
  .faq-content {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 10rem 0; }
  .faq-item {
    display: flex;
    border-top: 1px solid var(--color-grey);
    padding: 5rem 0; }
    .faq-item:not(:last-child) {
      margin-bottom: 5rem; }
    .faq-item:last-child {
      padding-bottom: 0rem; }
  .faq-question {
    margin-right: auto; }
  .faq-answer {
    width: 50rem; }

.footer {
  height: 20rem;
  background-color: var(--color-purple-dark); }
  .footer-content {
    width: 100%;
    height: 100%;
    max-width: 114rem;
    margin: 0 auto;
    text-align: center;
    padding: 8rem 0; }

.header {
  display: flex;
  flex-direction: column; }
  .header__hero {
    display: flex;
    justify-content: space-between;
    height: 85vh; }
    .header__hero-left {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .header__hero-right {
      z-index: 10; }
  .header-img {
    max-width: 45rem;
    width: 100%;
    /* 
        &-phone{
            margin-left: -12rem;
            animation: moveInLeft 2s ease-out;
        }
        &-people{
            position: absolute;
            bottom: 0;
        }*/ }

.navbar__list {
  list-style-type: none;
  display: flex; }

.navbar__link {
  margin-top: 5.5rem; }
  .navbar__link:not(:last-child) {
    margin-right: 6.7rem; }
  .navbar__link:first-child {
    margin-right: auto; }

.navbar__item {
  text-decoration: none;
  color: var(--color-primary); }

.works {
  margin: 20rem auto;
  text-align: center;
  position: relative; }

.accent {
  height: 75%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.line {
  width: 5px;
  height: 75%;
  background-color: var(--color-secondary-light);
  position: absolute; }

.circle {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-white);
  border: 5px solid var(--color-secondary-light);
  border-radius: 10rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); }
