:root{
    --color-primary: #4C85D9;
    --color-primary-light: #3A9CEB;
    --color-skyblue: #A3CAFF;

    --color-secondary: #7DD0D3;
    --color-secondary-light: #90DBD8;

    --color-purple: #383868;
    --color-purple-light:#424461;
    --color-dark: #3E3F4D;
    --color-grey: #979797;
    --color-white: #fff;

    --shadow-dark: 0 2rem 10rem rgba(157, 157, 157, 0.1);
}


//colors
$light-gradient: to top, rgba(#fff,.1), rgba(#56B1E5,0);

$default-font-size: 1.6rem;
$weight-l: 200;
$weight-m: 500;