.about{
    background-image: linear-gradient(to top, var(--color-primary-light), var(--color-secondary-light));

    height: 55rem;
    position: relative;  
    transform: skewY(-20deg);

    & > * {
        transform: skewY(20deg);
    }

    &__box{
        display:flex;
        justify-content: space-between;
    }  
    
    &__text{
        display: flex;
        flex-direction: column;
        margin-top: 11rem;
        margin-right: 5rem;
        max-width: 50rem;
    }

    &__circle{
        position: absolute;
        background-image: linear-gradient($light-gradient);
        width: 45rem;
        height: 45rem;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        right:0;
        top: 2rem; 
    }

    &__phone{
        animation: fadeIn 2s ease-out;
    }
}