.header {
    display: flex; 
    flex-direction: column;

    //Centering all content
    width: 100%;        
    max-width: 1140px;
    margin: 0 auto;
    
    
    &__hero{
        display:flex;
        height: 85vh;

        &-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-right{
            z-index: 10;
            display: flex;
            transform: scale(1); 
        }
    }/*
    &__img{
        transform: scale(.8);   
        &-phone{
            transform: scale(.6); 
            transform: translateY(-4rem);
        }
        &-people{
            transform:translateY(-39rem);
        }
    }
    */
}

.navbar{
    &__list{
        list-style-type: none;
        display: flex;
    }
    &__link{
        margin-top: 5.5rem;
        &:not(:last-child){
            margin-right: 6.7rem;
        }
        &:first-child{
            margin-right: auto;
        }
    }
    &__item{
        text-decoration: none;
        color: var(--color-primary);
    }
}
