.header {
    display: flex; 
    flex-direction: column;
    
    &__hero{
        display:flex;
        justify-content: space-between;
        height: 85vh;

        &-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-right{
            z-index: 10;
            //transform: scale(.9); 
            
        }
    }
    &-img{
        max-width: 45rem;
        width: 100%;
        //transform: scale(.8);  
        /* 
        &-phone{
            margin-left: -12rem;
            animation: moveInLeft 2s ease-out;
        }
        &-people{
            position: absolute;
            bottom: 0;
        }*/
    }
}

.navbar{
    &__list{
        list-style-type: none;
        display: flex;
    }
    &__link{
        margin-top: 5.5rem;
        &:not(:last-child){
            margin-right: 6.7rem;
        }
        &:first-child{
            margin-right: auto;
        }
    }
    &__item{
        text-decoration: none;
        color: var(--color-primary);
    }
}
