.works{
    //centering css
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    margin-top: 30rem;
    text-align: center;
}

//component card
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-box {
        margin: 10rem;
        border-top: 1rem solid var(--color-secondary-light);
        width: 60rem;
        padding: 10rem;
        box-shadow: var(--shadow-dark);
        border-radius: 3px;
    }
}
