body {
    font-family: "Poppins", sans-serif;
    font-size: $default-font-size;
}

.heading{
    &-primary{
        text-transform: uppercase;
        font-size: 4.0rem;
        font-weight: $weight-m;
        line-height: 4.5rem;

        backface-visibility: hidden;

        &-main{
            animation: fadeIn 2s ease-out;

            .off{
                color:var(--color-secondary);
            }
            .glass{
                color:var(--color-primary);
               
            }
        }

        &-sub{
            color:var(--color-dark);
            animation: moveInLeft 2s ease-out;
        }
    }

    &-text{
        margin-top: 2.8rem;
        max-width: 54rem;
    }
}

.text{
    font-size: $default-font-size;
    font-weight: $weight-l;

    &-white{
        color: var(--color-white);
    }
}

.faq{
    &-question{
        color: var(--color-skyblue);
    }
    &-answer{
        color: var(--color-white);
    }
}


